{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Announcement</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="{% static 'css/announcement.css' %}">
    </head>
    <body>
        <div class="announcement-container">
            <h1> Package Manage System </h1>
            <h1 class="announcement-text">
                Tech Stack used: Django, HTML/CSS/JS, Computer Vision; <br>
            </h1>
            <h1 class="announcement-text">
                By Chenmeinian Guo, Chenyan Wang
            </h1>
        </div>
    </body>
</html>