{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Home Page</title>
        <meta name="description" content="">
        <link rel="stylesheet" href="{% static 'css/home.css' %}">
    </head>
    <body>
        {% include "announcement.html" %}
        <div>
            <div class="home-info-container">
                <div class="home-left">
                    <button class="home-button">
                        <p class="home-text">Upload Picture</p>
                    </button>
                    <h2 class="home-left-component">comment</h2>
                    <h2 class="home-left-component">signature</h2>
                </div>
                <div class="home-right">
                    <h2>Parcel Details:</h2>
                    <h2>Status</h2>
                    <h2>desc</h2>
                    <h2>type</h2>
                    <h2>color</h2>
                    <h2>date</h2>
                    <h2>shipping type</h2>
                    <h2>tracking number</h2>
                </div>
            </div>
            <div>
                <div class="home-info-container">
                    <button class="home-button">
                        <p class="home-text">Home Page</p>
                    </button>
                    <button class="home-button">
                        <p class="home-text">Submit</p>
                    </button>
                <div>
            </div>
        </div>
    </body>
</html>